.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s;
    margin-bottom: 100px;
    &:hover {
        transform: translateY(-15px);
    }
  }
  