.footer {
    background-image: linear-gradient(45deg, degradebajo, $degradealto);
    color: #0a0d11;
    padding: 50px 20px;
    margin-top: 100px ;
    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
        &-list {
            li {
                margin: 10px 0px;
                .top {
                    margin-top: 45px;
                }
                a   {
                    color: #222222;
                    transition: color 0.3s;
                    &:hover {
                        color: #7c7b79 ; 
                    }
                }
            }
        }
    }
    &__rrss {
        margin-top: 30px;
        display: flex;
        justify-content: space-evenly;
        a{
            color: #15140d;
            font-size: 30px;
            transition: color 0.3s;
            &:hover {
                color: #919090;
            }
        }
    }
  }